<div class="containner__big-card">
  <div class="big-card__photo">
    <img src= "{{photoCover}}" alt="Imagem do jogador Vinicius Jr">
  </div>

  <div class="big-card__title">
    <h1><a href="https://www.msn.com/pt-br/esportes/other/imprensa-europeia-esquece-vin%C3%ADcius-j%C3%BAnior-do-real-madrid-e-aponta-o-pr%C3%B3ximo-vencedor-da-bola-de-ouro/ar-AA1u26Gp?ocid=msedgntp&pc=U531&cvid=737a00c415d64a29aec9e2d5abe28ee6&ei=13">
      {{cardTitle}}
    </a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="https://www.msn.com/pt-br/esportes/other/imprensa-europeia-esquece-vin%C3%ADcius-j%C3%BAnior-do-real-madrid-e-aponta-o-pr%C3%B3ximo-vencedor-da-bola-de-ouro/ar-AA1u26Gp?ocid=msedgntp&pc=U531&cvid=737a00c415d64a29aec9e2d5abe28ee6&ei=13">
      {{cardDescription}}
    </a></p>
  </div>
</div>
