<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="{{photoCover}}" alt="Imagem do Técico Dorival">
    </div>

    <div div="small-card__title">
      <h3><a href="https://ge.globo.com/futebol/selecao-brasileira/noticia/2024/11/14/dorival-destaca-chances-
        do-brasil-contra-a-venezuela-e-lamenta-mereciamos-uma-sorte-melhor.ghtml">
        {{cardTitle}}</a>
      </h3>
    </div>


  </div>
  <div class="container__small-card__separator">
    <hr/>
  </div>

</div>
